/* Estilos para a lista de tarefas */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* Estilos para os botões */
button {
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos para o cabeçalho */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh; /* Altura total da tela (viewport height) */
}